autopep8==1.5.6
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
fastapi==0.65.1
filelock==3.0.12
gitdb==4.0.7
GitPython==3.1.14
gunicorn==20.0.4
h11==0.12.0
idna==2.10
joblib==1.0.1
labml==0.4.117
labml-dashboard==0.4.87
mypy==0.812
mypy-extensions==0.4.3
numpy==1.20.2
packaging==20.9
pycodestyle==2.7.0
pydantic==1.8.2
pyparsing==2.4.7
PyYAML==5.4.1
regex==2021.4.4
requests==2.25.1
sacremoses==0.0.45
sentencepiece==0.1.95
six==1.15.0
smmap==4.0.0
starlette==0.14.2
tokenizers==0.7.0
toml==0.10.2
torch==1.8.1
tqdm==4.60.0
transformers==2.11.0
typed-ast==1.4.3
typing-extensions==3.7.4.3
urllib3==1.26.4
uvicorn==0.13.4
